@import url("grid-layout.css");
@import url("search-section.css");
@import url("main.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.catalago-pokemons {
  padding: 0;
}

#containerCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  cursor: pointer;
}

#containerCard .card {
  padding: 24px;
  max-width: 445px;
  max-height: 350px;
  border-radius: 28px;
  box-sizing: border-box;
  overflow: hidden;
}

#containerCard .card:hover {
  transform: scale(1.05);
}

#containerCard .card img {
  max-width: 100%;
  width: 20rem;
  height: 20rem;
  position: relative;
  box-sizing: border-box;
  object-fit: contain;
  display: block;
}
